<div class="auth-wrapper">
  <!-- [ reset-password ] start -->
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <img src="../../../../assets/logo-aristos.png" alt="" class="img-fluid mb-4">
            <h4 class="mb-3 f-w-400">Recupera tu contraseña</h4>
            <div class="input-group mb-4">
              <input type="email" class="form-control" placeholder="Correo electrónico">
            </div>
            <button class="btn btn-block btn-primary mb-4" (click)="goToHome()">Recuperar contraseña</button>
            <p class="mb-0 text-muted">No tienes una cuenta? <a [routerLink]="['/auth/register']" class="f-w-400">Regístrate</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ reset-password ] end -->
</div>
