.column-header {
  white-space: normal !important;
  height: auto !important;
  padding: 0.5px;
  width: 12%;
  font-size: 8px;
  text-align: center;
}

.text-note {
  border-bottom: 2px solid #6BE6BE;
}
