

<header class="text-white text-center" >
    <div>
      <h1 class="text-primary">Invierte en el mejor mercado de préstamos</h1>
      <h6 style="color: #6c757d">Invierte en préstamos y comienza a obtener ingresos pasivos. Conecta con miles de oportunidades en todo el mundo a través de nuestra plataforma</h6>
    </div>
  <div>
    <video id="myVideo" playsinline="" [muted]="'muted'" onplaying="this.controls=false" autoplay loop>
      <source src="../../../assets/crowdlending.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    </video>
  </div>
</header>




<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="feather icon-trending-up m-auto text-primary" style="font-size: 64px"></i>
          </div>
          <h4>24 468 888</h4>
          <p class="lead mb-0">Prestamos financiados</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-dollar-sign m-auto text-primary" style="font-size: 64px"></i>
          </div>
          <h4> 4 734 587 084</h4>
          <p class="lead mb-0">Invertidos</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-globe-americas m-auto text-primary" style="font-size: 64px"></i>
          </div>
          <h4>257 470</h4>
          <p class="lead mb-0">Inversores en todo el mundo</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Image Showcases -->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img text-primary" style="background-image: url('../../../assets/compromiso.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Compromiso</h2>
        <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('../../../assets/respo.jpg');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Responsabilidad</h2>
        <p class="lead mb-0">Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 4!</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../../../assets/inverg.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Inversiones con garantía de recompra</h2>
        <p class="lead mb-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!</p>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">What people are saying...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="../../../assets/testimonials/testimonials-1.jpg" alt="">
          <h5>Margaret E.</h5>
          <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="../../../assets/testimonials/testimonials-2.jpg" alt="">
          <h5>Fred S.</h5>
          <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="../../../assets/testimonials/testimonials-3.jpg" alt="">
          <h5>Sarah W.</h5>
          <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
        </div>
      </div>
    </div>
  </div>
</section>

<footer style="border-top: #9FA8B4 solid 1px; padding-top: 2rem">

  <!-- Footer Elements -->
  <div class="container">

    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <button type="button" class="btn btn-icon btn-primary"><i class="feather icon-facebook"></i></button>
      </li>
      <li class="list-inline-item">
        <button type="button" class="btn btn-icon text-white" style="background: #00acee;"><i class="feather icon-twitter"></i></button>
      </li>
    </ul>

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <img src="../../../assets/logo-aristos.png" width="2%">
    © 2020 Copyright:
    <a href="">aristos.com</a>
  </div>
  <!-- Copyright -->

</footer>

